{{#> Init }}
 <form class="login-page">
    <div class="login-page-form">
        {{> PagesTitle title="Вход" }}
        {{> Input label="Логин" }}
        {{> Input label="Пароль" }}
    </div>
    <div class="login-page-buttom">
        {{> Button label="Авторизоваться" page="chatPage" className="init_button"}}
        {{> Button label="Нет аккаунта?" page="registration" className="no_acc_button"}}
    </div>
  </form>
{{/ Init }}