{{#> Init }}
 <form class="login-page">
        {{> PagesTitle title="Вход" }}
        {{> InitInput className="login-page__input" title='Логин' label="Логин" }}
        {{> InitInput className="login-page__input" title='Пароль' label="Пароль" type="password"}}
        {{> Button label="Авторизоваться" page="chatPage" className="init_button"}}
        {{> Button label="Нет аккаунта?" page="registration" className="no_acc_button"}}
  </form>
{{/ Init }}