<section class="content">
  {{#with (userInfo)}}
  <h2>{{first_name}}</h2>
  {{/with}}
  {{#with (userInfo)}}
  <ul class="list">
    {{> UserInput inputName='Почта' type="text" value=email name=email }}
    {{> UserInput inputName='Логин' type="text" value=login name=login }}
    {{> UserInput inputName='Имя' type="text" value=first_name name=first_name }}
    {{> UserInput inputName='Фамилия' type="text" value=second_name name=second_name }}
    {{> UserInput inputName='Имя в чате' type="text" value=chat_name name=chat_name }}
    {{> UserInput inputName='Телефон' type="text" value=phone_number name=phone_number }}
  </ul>
{{/with}}
 <div class="buttons">
   <ol><a href="userPage" page="userPage" style='text-decoration: none'>Сохранить</a></ol>
</div> 
</section>