<nav class="nav-page">
    <h1>Навигация</h1>
    <ul class="list">
    <li><a href="#"page="login">Вход</a></li>
    <li><a href="#"page="registration">Регистрация</a></li>
    <li><a href="#"page="userPage">Профиль</a></li>
    <li><a href="#"page="404Page">Страница 404 </a></li>
    <li><a href="#"page="500Page">Страница 500 </a></li>
    </ul>
</nav>