<div class="chat-item">
  <div class="chat-item__line"></div>
  <div class="chat-item__block{{#if current}} chat-item__block--current{{/if}}">
    {{#if photo}}
    <div>
      <img  src={{ resolve photo }} alt={{ name }}><img>
    </div>
    {{else }}
    <div ></div>
    {{/if}}
    <div class="chat-item__message"><span class="chat-item__message-text">{{ message }}</span></div>
  </div>
</div>