<section class="user_page">
 {{#with (user)}}
 <div class="user_photo">
 {{> UserPhoto src=photo alt = "Моё Фото"}}
 <button class="photo_change">Изменить фото</button>
 </div>
 <h2>{{first_name}}</h2>
 {{/with}}
  {{#with (user)}}
 <ol class="user_info">
    {{>UserInput inputname='Почта' type='text' value=email disabled='true'}}
    {{>UserInput inputname='Логин' type='text' value=login disabled='true'}}
    {{>UserInput inputname='Имя' type='text' value=login disabled='true'}}
    {{>UserInput inputname='Фамилия' type='text' value=second_name disabled='true'}}
    {{>UserInput inputname='Имя в чате' type='text' value=chat_name disabled='true'}}
    {{>UserInput inputname='Телефон' type='text' value=phone_number disabled='true'}}   
 </ol>
 {{/with}}
 <div class="buttons">
    {{> Link page="changeInfo" text='Изменить данные'}}
    {{> Link page="changePassword" text='Изменить пароль'}}
    {{> Link page="login" text='Выйти'}}
    </div>
</section>