{{#> Init }}
    <Form class="registration-form">
        {{> Input label="Почта" }}
        {{> Input label="Логин" }}
        {{> Input label="Имя" }}
        {{> Input label="Фамилия" }}
        {{> Input label="Телефон" }}
        {{> Input label="Пароль" }}
        {{> Input label="Пароль (еще раз)" }}
        {{> Button label="Зарегистрироваться" type="link" }}
        {{> Button label="Войти" type="link" }}
    </Form>
{{/ Init }}