{{#> Init }}
    <form class="registration-page">
        <div class="registration-page__form">
        {{> PagesTitle title="Регистрация" }}
        {{> InitInput className='registration-page__input' title='Почта'  label="Почта" }}
        {{> InitInput className='registration-page__input' title='Логин' label="Логин" }}
        {{> InitInput className='registration-page__input' title='Имя' label="Имя" }}
        {{> InitInput className='registration-page__input' title='Фамилия'  label="Фамилия" }}
        {{> InitInput className='registration-page__input' title='Телефон' label="Телефон" }}
        {{> InitInput className='registration-page__input' title='Пароль' label="Пароль" type="password"  }}
        {{> InitInput className='registration-page__input' title='Пароль (еще раз)' label="Пароль (еще раз)" type="password" }}
        </div>
        <div class="button">
        {{> Button label="Зарегистрироваться" type="link" page="chatPage" className="init_button"}}
        {{> Button label="Войти"  type="link" page="login" className="no_acc_button"}}
    </div>
    </form>
{{/ Init }}