<section class="user_page">
    {{#with (userInfo)}}
    <ul class="user_info">
        {{> UserInput inputName='Старый пароль' type='password' name=curentPassword}}
        {{> UserInput inputName='Новый пароль' type='password' name=newPassword}}
    </ul>
{{/with}}
    <div class="buttons">
        <ol><a href="userPage" page="userPage">Сохранить</a></ol>

    </div>
</section>